<html>
<head>
  <meta charset="UTF-8">
  <title>Statistics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" >
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
</head>
<body>
<section>
<center>
  <h4>19129029 Clément ROYER | TOUSSAINT Steven 19129122</h4>
  <h1 style="font-weight: bold">Discord Connect-4 bot</h1>
  <h2><a href="https://discord.gg/aWA9FwB">Play against</a> | <a href="https://discordapp.com/oauth2/authorize?client_id=699982558699585546&scope=bot&permissions=8">Invite it</a></h2>
  <br>
</center>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="title">
              <i class="fa fa-play-circle-o" aria-hidden="true"></i>
              <h2>Game started</h2>
            </div>
            <div class="price">
              <h4>{{games}}</h4>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="title">
              <i class="fa fa-trophy" aria-hidden="true"></i>
              <h2>Victory</h2>
            </div>
            <div class="price">
              <h4>{{wins}}</h4>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="title">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
              <h2>Lose</h2>
            </div>
            <div class="price">
              <h4>{{lose}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
